<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meal.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @meal.price %>
</p>

<p>
  <strong>Score:</strong>
  <%= @meal.score %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @meal.restaurant %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
